/* CSS Reset */
body {
    font-family: 'Vollkorn', serif;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('https://cdn.pixabay.com/photo/2011/12/14/12/21/orion-nebula-11107_960_720.jpg') no-repeat;
    background-size: cover;


    

}

.left {
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 20px;
}

.left img {
    padding-left: 11px;
    width: 136px;
    filter: invert(100%);
}

.left div {
    line-height: 19px;
    font-size: 26px;
    text-align: center;
}

.mid {
    display: block;
    width: 50%;
    margin: 29px auto;
    
}

.right {
    position: absolute;
    right: 34px;
    top: 43px;
    display: inline-block;
    
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 25px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;

}

.navbar li a:hover {
    text-decoration: border 2px solid white;
    color: grey;

}

.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(54, 53, 53);
}

.container {
    border: 2px solid white;
    margin: 150px auto;
    padding: 75px;
    width: 33%;
    border-radius: 28px;

}

.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    border-radius: 8px; 
    display: block;
    width: 101%;
    margin: 30px auto;
    margin-bottom: -5px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.container h1 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 38px;
    padding-bottom: 20px;
    margin-bottom: 35px;
    margin-top: -30px;
    ;
}

.container button {
    display: block;
    width: 103%;
    margin: 30px auto;
    margin-bottom: -4px;
}

#Designer {
    margin: auto;
    text-align: center;
}

#Socail{
    filter: invert(100%);
    text-align: center;
    margin-top: -10px;
}

